-- Updates
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Papelera', tamanio = 100, dias_espera_facturacion = 8 WHERE id = 'd8e3423e-dd19-44bd-8e1c-0ab44aa412af';
UPDATE apsol.empresas SET provincia = 'Santa Fe', pais = 'Argentina', industria = 'Transporte de pasajeros', tamanio = 400, dias_espera_facturacion = 7 WHERE id = '70e32e93-bd73-42df-a7b4-cdb9dd2079c5';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Distribuidora', tamanio = 10, dias_espera_facturacion = 5 WHERE id = 'f67278c3-67ea-4d1e-ab0a-dc4ac39d2470';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'consecionario', tamanio = 700, dias_espera_facturacion = 8 WHERE id = '163af7bb-eff1-4e61-b78a-fc948849214a';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Agricultura', tamanio = 20, dias_espera_facturacion = 5 WHERE id = 'c2625954-6843-46ff-ba4c-ab2060a8a070';
UPDATE apsol.empresas SET provincia = NULL, pais = 'Argentina', industria = 'Educaci├│n', tamanio = 17, dias_espera_facturacion = 5 WHERE id = '3b603f5f-d2c5-4a0d-a711-f6866e38784c';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Producci├│n de Repuestos', tamanio = 7, dias_espera_facturacion = 5 WHERE id = '7ce8283a-88d0-4970-858e-f89d549b8756';
UPDATE apsol.empresas SET provincia = NULL, pais = 'Chile', industria = 'Transporte de carga', tamanio = 10, dias_espera_facturacion = 5 WHERE id = '77403ca3-d595-4b5d-a4fd-2894c1c58ed0';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Muebles', tamanio = 70, dias_espera_facturacion = 5 WHERE id = '84ce96c5-fc9a-4663-b97a-116489972794';
UPDATE apsol.empresas SET provincia = 'Corrientes', pais = 'Argentina', industria = 'Comercio', tamanio = 3, dias_espera_facturacion = 5 WHERE id = 'aee1b455-a97c-40ca-b8d5-1eda7c51d738';
UPDATE apsol.empresas SET provincia = NULL, pais = 'Uruguay', industria = 'Arquitectura', tamanio = 3, dias_espera_facturacion = 5 WHERE id = '2a95c835-9c75-4f4d-8f2f-7c4b21c1326c';
UPDATE apsol.empresas SET provincia = 'Corrientes', pais = 'Argentina', industria = 'Venta de Repuestos', tamanio = 10, dias_espera_facturacion = 5 WHERE id = '90aa77c1-0d85-496a-8820-c0a9e029d054';
UPDATE apsol.empresas SET provincia = NULL, pais = 'Argentina', industria = 'Comercio', tamanio = 13, dias_espera_facturacion = 2 WHERE id = 'cb357211-4a2f-4a14-95dc-6c2492338675';
UPDATE apsol.empresas SET provincia = 'Santa Fe', pais = 'Argentina', industria = 'Transporte de pasajeros', tamanio = 150, dias_espera_facturacion = 5 WHERE id = 'aae8568b-9f94-4a5a-9729-a0a1918d009e';
UPDATE apsol.empresas SET provincia = 'Cordoba', pais = 'Argentina', industria = 'Distribuidora', tamanio = 5, dias_espera_facturacion = 5 WHERE id = '7510ba35-2a96-4bd7-a051-3130fdaa26eb';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Consultor├¡a', tamanio = 2, dias_espera_facturacion = 5 WHERE id = 'b32acb60-791e-4fcc-95c4-b9641f68fc5a';
UPDATE apsol.empresas SET provincia = 'Cordoba', pais = 'Argentina', industria = 'Comercio', tamanio = 8, dias_espera_facturacion = 5 WHERE id = '333e8323-bb2c-44b6-97e8-8525fd25ea3c';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Arquitectura', tamanio = 1, dias_espera_facturacion = 5 WHERE id = 'e533095a-200d-4dea-81a9-d41081bfe0b2';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'consultora', tamanio = 2, dias_espera_facturacion = 5 WHERE id = 'da0961c5-7b09-4f44-95e1-501680075aa2';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Distribuidora', tamanio = 450, dias_espera_facturacion = 5 WHERE id = '8e55f1d5-1b18-4970-834f-143900c3779c';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Servicios', tamanio = 6, dias_espera_facturacion = 5 WHERE id = 'ddd21d41-4bee-4d7a-8fa3-d38de1de8c06';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Calzado', tamanio = 15, dias_espera_facturacion = 5 WHERE id = '81532517-a69a-4cb9-8af6-5c49358e5fe5';
UPDATE apsol.empresas SET provincia = 'Entre R├¡os', pais = 'Argentina', industria = 'Distribuidora', tamanio = 4, dias_espera_facturacion = 5 WHERE id = 'b266892a-38d5-447b-9b95-418f9ebede2c';
UPDATE apsol.empresas SET provincia = 'Bs As', pais = 'Argentina', industria = 'Distribuidora', tamanio = 40, dias_espera_facturacion = 4 WHERE id = 'cb9f5c5a-6948-4a4a-a45f-e89e22452863';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Supermercados', tamanio = 25, dias_espera_facturacion = 4 WHERE id = 'badba1f7-d5cf-445a-8a0a-5d0bdf656ead';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Educaci├│n', tamanio = 100, dias_espera_facturacion = 4 WHERE id = 'f37d4b93-214d-4f13-9810-c6471624d338';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Turismo', tamanio = 2, dias_espera_facturacion = 4 WHERE id = '7a25f900-5593-4c50-ac1f-e8056dfc4f2b';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Industria Alimenticia', tamanio = 50, dias_espera_facturacion = 4 WHERE id = '8759d119-d115-4de5-9568-cc806f5bcea7';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Distribuidora', tamanio = 6, dias_espera_facturacion = 4 WHERE id = 'fb42586b-433d-41e1-b2a5-ea7354170987';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Informatica', tamanio = 3, dias_espera_facturacion = 4 WHERE id = '904b6966-6a62-4cc9-a644-1718f78b4303';
UPDATE apsol.empresas SET provincia = 'Cordoba', pais = 'Argentina', industria = 'Distribuidora', tamanio = 50, dias_espera_facturacion = 4 WHERE id = 'f73e9402-5519-4673-81f7-d15b3b82fb10';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Industria Alimenticia', tamanio = 127, dias_espera_facturacion = 4 WHERE id = 'ca993aef-cb1c-4bd6-b32a-0ddc6727e46e';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Servicios', tamanio = 1700, dias_espera_facturacion = 4 WHERE id = 'c71a387b-dded-488d-adbe-9b4be0415bf6';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Turismo', tamanio = 12, dias_espera_facturacion = 4 WHERE id = '6b74dc25-4082-40f6-9ed8-65b57929c628';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Papelera', tamanio = 0, dias_espera_facturacion = 20 WHERE id = '9069b88d-a4f9-4fcc-8286-7f14a32bad4b';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Distribuidora', tamanio = 10, dias_espera_facturacion = 4 WHERE id = 'a7bcf0fd-e3ef-4db1-98f8-a2b96a2995c5';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'textil', tamanio = 30, dias_espera_facturacion = 4 WHERE id = '675446d8-9360-4292-a1ad-521fd2f4cfcd';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Industria Alimenticia', tamanio = 200, dias_espera_facturacion = 7 WHERE id = '595928cc-7703-4aad-b698-e9dcffdfd65e';
UPDATE apsol.empresas SET provincia = 'Cordoba', pais = 'Argentina', industria = 'Metalurgica', tamanio = 13, dias_espera_facturacion = 5 WHERE id = '11ff3103-702c-4fbb-9b62-6202b67fe70b';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Distribuidora', tamanio = 4, dias_espera_facturacion = 4 WHERE id = 'b280e369-8b53-423a-83a3-c6b84cc971f3';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Metalurgica', tamanio = 9, dias_espera_facturacion = 4 WHERE id = '61e4ebce-93df-430a-a74b-dc609f6505d1';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Metalurgica', tamanio = 8, dias_espera_facturacion = 4 WHERE id = '3f4558ff-1249-4a0e-a683-42076181c0f6';
UPDATE apsol.empresas SET provincia = 'Santa Fe', pais = 'Argentina', industria = 'Distribuidora', tamanio = 6, dias_espera_facturacion = 4 WHERE id = 'c1832934-f75b-45ee-8c43-4d7f072399a3';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Metalurgica', tamanio = 6, dias_espera_facturacion = 4 WHERE id = '2f867254-321d-4765-a354-db24611c70cd';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Distribuidora', tamanio = 2, dias_espera_facturacion = 4 WHERE id = '5e551e4b-5f75-46e7-9226-e2fb4634544f';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Distribuidora', tamanio = 5, dias_espera_facturacion = 1 WHERE id = '808a806d-f71e-4b60-bf7f-8018a9ad1568';
UPDATE apsol.empresas SET provincia = 'Santa Fe', pais = 'Argentina', industria = 'Pinturer├¡a', tamanio = 400, dias_espera_facturacion = 5 WHERE id = 'c9b93c2a-043f-47e7-87f7-5bf267caecdc';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Panificaci├│n', tamanio = 15, dias_espera_facturacion = 5 WHERE id = '275646fa-580c-4d70-97ca-05d76bd1c716';
UPDATE apsol.empresas SET provincia = 'Neuquen', pais = 'Argentina', industria = 'Supermercados', tamanio = 60, dias_espera_facturacion = 5 WHERE id = 'a898bcd9-44db-4f34-8b1d-bb3e820efa36';
UPDATE apsol.empresas SET provincia = 'Santa Fe', pais = 'Argentina', industria = 'Consultor├¡a', tamanio = 1, dias_espera_facturacion = 4 WHERE id = '6532f074-80b6-422a-89d5-e5e591129bc4';
UPDATE apsol.empresas SET provincia = 'Rio Negro', pais = 'Argentina', industria = 'Madera', tamanio = 10, dias_espera_facturacion = 5 WHERE id = '0e211dfe-eebe-4fd5-a149-040b25d31e50';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Inmobiliaria', tamanio = 30, dias_espera_facturacion = 7 WHERE id = '7a6a49d6-9762-45ea-aa72-ca6786c30451';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Panificaci├│n', tamanio = 250, dias_espera_facturacion = 6 WHERE id = 'd308703c-779e-4b81-894a-07f7633e563c';
UPDATE apsol.empresas SET provincia = 'Chubut', pais = 'Argentina', industria = 'Sector Publico', tamanio = 200, dias_espera_facturacion = 6 WHERE id = 'f455576a-0c6b-4025-9369-a0ae2af37c64';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Marmoler├¡a', tamanio = 20, dias_espera_facturacion = 4 WHERE id = 'a4222e34-a0e7-4163-8af6-956c45f18025';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Agencia de Viajes', tamanio = 3, dias_espera_facturacion = 4 WHERE id = 'bf67d7a8-a293-46fb-a6cb-6444caff4f02';
UPDATE apsol.empresas SET provincia = NULL, pais = 'Uruguay', industria = 'Transporte de pasajeros', tamanio = 100, dias_espera_facturacion = 4 WHERE id = 'd5a1b265-64b2-4636-8758-ac12ae541677';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Frigorifico', tamanio = 200, dias_espera_facturacion = 4 WHERE id = '59131d00-4c11-4ba6-8fe5-d69a5fe4d38d';
UPDATE apsol.empresas SET provincia = 'Santa Fe', pais = 'Argentina', industria = 'Agua Mineral', tamanio = 10, dias_espera_facturacion = 6 WHERE id = '23c3501e-595e-4c9d-b640-549e05e00bcf';
UPDATE apsol.empresas SET provincia = NULL, pais = 'Colombia', industria = 'Industria Alimenticia', tamanio = 50, dias_espera_facturacion = 4 WHERE id = '58af89a9-fd59-45e0-9fc4-ce931f5d7f70';
UPDATE apsol.empresas SET provincia = 'Misiones', pais = 'Argentina', industria = 'Venta de Repuestos', tamanio = 40, dias_espera_facturacion = 4 WHERE id = '0ab60b02-fe7d-4b34-ba74-4f45ca9f397d';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Laboratorio', tamanio = 6, dias_espera_facturacion = 4 WHERE id = '3fcc2835-49a0-4e3d-a50e-3c09c9e44e00';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Logistica', tamanio = 20, dias_espera_facturacion = 6 WHERE id = '1c4617b5-6e72-4eca-8f11-9ef8eafc8480';
UPDATE apsol.empresas SET provincia = NULL, pais = 'Chile', industria = 'Logistica', tamanio = 10, dias_espera_facturacion = 4 WHERE id = 'f4762272-6225-46de-a166-66b5ef2024c5';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'consecionario', tamanio = 200, dias_espera_facturacion = 6 WHERE id = '4451954a-534b-40fb-a0fe-892d242a6727';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Agricultura', tamanio = 25, dias_espera_facturacion = 4 WHERE id = 'b109160d-0030-4fdd-93d1-d6951b3c42da';
UPDATE apsol.empresas SET provincia = 'Buenos aires', pais = 'Argentina', industria = 'Seguros', tamanio = 10, dias_espera_facturacion = 4 WHERE id = 'ece8bdeb-4ae5-4257-9fb2-64f268f46790';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Comercio', tamanio = 10, dias_espera_facturacion = 4 WHERE id = '27fc8f05-a0f3-416c-b72b-482361e85eda';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Distribuidora', tamanio = 10, dias_espera_facturacion = 4 WHERE id = '9fabb9b5-996d-4476-842b-3a16241eb956';
UPDATE apsol.empresas SET provincia = 'Minimercado', pais = 'Argentina', industria = 'Supermercados', tamanio = 2, dias_espera_facturacion = 4 WHERE id = '1a653f6d-0d0a-44be-b07f-6be6c348d0e8';
UPDATE apsol.empresas SET provincia = 'Corrientes', pais = 'Argentina', industria = 'Muebles', tamanio = 6, dias_espera_facturacion = 4 WHERE id = '2cd9b7e5-df1d-417f-9d1b-814eed963831';
UPDATE apsol.empresas SET provincia = 'San Luis', pais = 'Argentina', industria = 'Supermercados', tamanio = 0, dias_espera_facturacion = 4 WHERE id = 'fb3b640e-bad7-49f1-9389-8238b31c7b41';
UPDATE apsol.empresas SET provincia = 'BS AS', pais = 'Argentina', industria = 'Distribuidora', tamanio = 200, dias_espera_facturacion = 4 WHERE id = 'd0cf91c6-638c-476e-bbd2-07c0cdec2aac';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Automotor', tamanio = 30, dias_espera_facturacion = 4 WHERE id = 'f0e0dc25-7cf6-4911-ba2f-581b2ae0330f';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Industria Alimenticia', tamanio = 50, dias_espera_facturacion = 4 WHERE id = '90ab6de1-dbd1-4fb0-904a-21fec1817140';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Industria Alimenticia', tamanio = 0, dias_espera_facturacion = 4 WHERE id = '8fb4192c-a199-4257-841b-a5f819bf086a';
UPDATE apsol.empresas SET provincia = 'BS AS', pais = 'Argentina', industria = 'Educaci├│n', tamanio = 10, dias_espera_facturacion = 4 WHERE id = '139058ed-1fd8-4d0f-824c-0d38bde12bf8';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Industria Alimenticia', tamanio = 50, dias_espera_facturacion = 4 WHERE id = '67cd6c67-78b0-4282-9fd0-8bbd96292f77';
UPDATE apsol.empresas SET provincia = 'Bs As', pais = 'Argentina', industria = 'Hoteler├¡a', tamanio = 200, dias_espera_facturacion = 4 WHERE id = '70cb0d85-e6ed-4101-8163-3b1945975823';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Papelera', tamanio = 50, dias_espera_facturacion = 4 WHERE id = 'c1ed2eb7-7fb3-4af1-b76c-64be29a917dd';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Servicios', tamanio = 0, dias_espera_facturacion = 4 WHERE id = 'b651c6f1-d8e3-4710-8c01-c3b243568699';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Madera', tamanio = 100, dias_espera_facturacion = 4 WHERE id = '33681469-0dde-49ce-84cf-6c2638f7cb13';
UPDATE apsol.empresas SET provincia = NULL, pais = 'Colombia', industria = 'Transporte de carga', tamanio = 10, dias_espera_facturacion = 4 WHERE id = '7d57f5bb-7e02-4321-a2ec-6e4e7bf179aa';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Industria Alimenticia', tamanio = 50, dias_espera_facturacion = 4 WHERE id = '501d6249-ddc6-4ec8-9a1a-a6dcfd35f353';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Comercio', tamanio = 20, dias_espera_facturacion = 4 WHERE id = '4063c5f1-a20a-4420-9fd6-15f7df8ceb1c';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Comercio', tamanio = 15, dias_espera_facturacion = 4 WHERE id = '4063c5f1-a20a-4420-9fd6-15f7df8ceb1c';
UPDATE apsol.empresas SET provincia = 'Santa Cruz', pais = 'Argentina', industria = 'Distribuidora', tamanio = 200, dias_espera_facturacion = 4 WHERE id = '7284ad77-1913-4191-b819-a23e0ab7d671';
UPDATE apsol.empresas SET provincia = 'Buenos Aires', pais = 'Argentina', industria = 'Club', tamanio = 50, dias_espera_facturacion = 4 WHERE id = '90f2ffcf-c3ae-45cc-805e-c7f201196a54';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Automotor', tamanio = 5, dias_espera_facturacion = 4 WHERE id = 'c543eef5-3196-4f27-b6b1-0d4b9da5c8be';
UPDATE apsol.empresas SET provincia = 'Rio Negro', pais = 'Argentina', industria = 'Laboratorio', tamanio = 100, dias_espera_facturacion = 4 WHERE id = 'd9cc3e32-b133-4fdb-ab42-a7e685d81de6';
UPDATE apsol.empresas SET provincia = 'Santa fe', pais = 'Argentina', industria = 'Legal', tamanio = 5, dias_espera_facturacion = 4 WHERE id = 'a68a113d-fe2e-4a22-9425-8aa3711888b3';

-- Inserts (New Companies)

-- Refresh Razones Sociales for existing companies
DELETE FROM apsol.razones_sociales WHERE empresa_id IN ('d8e3423e-dd19-44bd-8e1c-0ab44aa412af','70e32e93-bd73-42df-a7b4-cdb9dd2079c5','f67278c3-67ea-4d1e-ab0a-dc4ac39d2470','163af7bb-eff1-4e61-b78a-fc948849214a','cb357211-4a2f-4a14-95dc-6c2492338675','ddd21d41-4bee-4d7a-8fa3-d38de1de8c06','595928cc-7703-4aad-b698-e9dcffdfd65e','11ff3103-702c-4fbb-9b62-6202b67fe70b','5e551e4b-5f75-46e7-9226-e2fb4634544f','808a806d-f71e-4b60-bf7f-8018a9ad1568','c9b93c2a-043f-47e7-87f7-5bf267caecdc','275646fa-580c-4d70-97ca-05d76bd1c716','a898bcd9-44db-4f34-8b1d-bb3e820efa36','0ab60b02-fe7d-4b34-ba74-4f45ca9f397d','3fcc2835-49a0-4e3d-a50e-3c09c9e44e00','1c4617b5-6e72-4eca-8f11-9ef8eafc8480','4451954a-534b-40fb-a0fe-892d242a6727','139058ed-1fd8-4d0f-824c-0d38bde12bf8','c1ed2eb7-7fb3-4af1-b76c-64be29a917dd','c543eef5-3196-4f27-b6b1-0d4b9da5c8be');
INSERT INTO apsol.razones_sociales (empresa_id, razon_social, cuit) VALUES ('d8e3423e-dd19-44bd-8e1c-0ab44aa412af', 'AMIPACK ENVASES S. A.', '30674273300');
INSERT INTO apsol.razones_sociales (empresa_id, razon_social, cuit) VALUES ('70e32e93-bd73-42df-a7b4-cdb9dd2079c5', 'EMPRESA DE TRANSPORTES EL NORTE SA', '30546263483');
INSERT INTO apsol.razones_sociales (empresa_id, razon_social, cuit) VALUES ('70e32e93-bd73-42df-a7b4-cdb9dd2079c5', 'EMPRESA EL NORTE BIS SRL', '30546234246');

